.header-username {
    /* margin-right: .6rem !important; */
    cursor: pointer;
    color: rgba(255, 255, 255, 1)
}

.header-username:hover {
    /* text-decoration: underline; */
    color: rgba(255, 255, 255, .7);
    border-bottom: 1px solid gray
}

.header-app-title {
    cursor: pointer;
    color: rgba(255, 255, 255, 1)
}

.header-app-title:hover {
    /* text-decoration: underline; */
    color: rgba(255, 255, 255, .7);
    /* border-bottom: 1px solid gray */
}

.header-button-base {
    color: rgba(255, 255, 255, .7) !important;
    transition: .3s;
}

.header-button-base:hover {
    color: rgba(255, 255, 255, 1) !important;
    /* border-bottom: 1px solid gray; */
}

.header-button-contained {
    transition: .3s;
}