.sidenav {
    height: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #3F51B5;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    width: 0;
    box-shadow: 11px 2px 12px -4px rgba(0,0,0,0.75);
  }

.open {
    width: 250px;
}

.link {
    text-decoration: none;
    color: #fff;
}

.nav-item {
    padding: 1rem .45rem !important;
    border-top: 1px solid rgb(88, 88, 88);
}