$media-sm: 600px;
$media-md: 960px;
$card-height: 480px;
$color-primary: #212121;
$color-text-primary: white;

.register-paper {
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 3rem;
    width: 80%;
    transition: .5s;
}

.register-cards-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1250px;
    transition: .5s;
}

.register-title-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    transition: .5s;
}

.register-button-container {
    display: flex;
    justify-content: center;
    margin-top: auto !important;
    margin-bottom: 3rem;
    transition: .5s;
}

//*********************** TEXT


.register-swiper-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: $color-primary;
    height: $card-height;
    transition: .5s;
}

.register-swiper-text {
    color: $color-text-primary;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    transition: .5s;
}

.register-signup-button {
    border-radius: 25px;
    transition: .5s;
}

//*********************** FORM

.register-form-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: $card-height;
    transition: .5s;
}

.register-form-textfield-container {
    display: flex;
    justify-content: center;
    transition: .5s;
}

.register-form-submit-button {
    border-radius: 25px;
    background: $color-primary;
    color: white;
    transition: .5s;
}

@media only screen and (max-width: $media-sm) {
    .register-paper {
        margin-top: 0;
        width: 100%;
    }
    .register-cards-container {
        width: 100%;
        flex-direction: column-reverse;
    }
    .register-swiper-card {
        width: 100%;
        height: 300px;
        background-color: #555 !important;
    }
    .register-form-card {
        width: 100%;
    }
}