$primary-color: #212121;
$primary-text-color: white;
$media-sm: 600px;
$media-md: 960px;

.landing-scene-1 {
    width: 100%;
    height: 80vh;
    // background: $primary-color;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1165%26quot%3b)' fill='none'%3e%3cpath d='M1488 560L0 560 L0 211.94Q39.95 131.89%2c 120 171.84Q207 138.84%2c 240 225.85Q288.65 202.5%2c 312 251.16Q315.4 134.56%2c 432 137.97Q486.06 72.03%2c 552 126.08Q617.25 119.33%2c 624 184.58Q724.78 165.37%2c 744 266.15Q754.5 204.64%2c 816 215.14Q858.28 137.42%2c 936 179.7Q1003.89 127.59%2c 1056 195.49Q1069.22 136.72%2c 1128 149.94Q1169.85 71.79%2c 1248 113.64Q1318.65 64.29%2c 1368 134.94Q1448.17 95.12%2c 1488 175.29z' fill='rgba(33%2c 33%2c 33%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 340.25Q40.66 308.91%2c 72 349.57Q117.62 275.19%2c 192 320.8Q213.29 222.09%2c 312 243.38Q354.32 213.7%2c 384 256.03Q481.03 233.06%2c 504 330.09Q543.98 250.07%2c 624 290.05Q694.38 240.43%2c 744 310.81Q807.56 302.37%2c 816 365.93Q853.69 283.62%2c 936 321.31Q924.98 238.29%2c 1008 227.27Q1080.63 179.9%2c 1128 252.53Q1209.21 213.75%2c 1248 294.96Q1277.75 204.71%2c 1368 234.46Q1409.56 204.01%2c 1440 245.57Q1492.88 226.45%2c 1512 279.33z' fill='rgba(105%2c 105%2c 105%2c 1)'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 426.07Q11.41 365.48%2c 72 376.89Q112.36 297.25%2c 192 337.6Q235.24 308.84%2c 264 352.08Q314.44 330.52%2c 336 380.96Q379.74 352.69%2c 408 396.43Q510.18 378.61%2c 528 480.78Q555 387.78%2c 648 414.79Q697.02 391.81%2c 720 440.83Q736.54 385.37%2c 792 401.9Q834.71 372.61%2c 864 415.32Q906 385.31%2c 936 427.31Q979.14 350.45%2c 1056 393.59Q1140.37 357.95%2c 1176 442.32Q1197.44 391.76%2c 1248 413.21Q1287.49 332.7%2c 1368 372.2Q1389.95 322.15%2c 1440 344.1Q1524.41 308.51%2c 1560 392.92z' fill='rgba(155%2c 155%2c 155%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 534.59Q41.76 504.36%2c 72 546.12Q83.68 485.8%2c 144 497.48Q220.81 454.29%2c 264 531.09Q335.19 482.28%2c 384 553.46Q395 492.46%2c 456 503.45Q479.94 455.39%2c 528 479.34Q614.51 445.86%2c 648 532.37Q696.6 460.97%2c 768 509.56Q779.31 448.87%2c 840 460.18Q912.78 412.96%2c 960 485.74Q1013.03 466.77%2c 1032 519.8Q1075.2 491%2c 1104 534.21Q1118.38 476.59%2c 1176 490.97Q1198.96 441.94%2c 1248 464.9Q1302.04 398.94%2c 1368 452.97Q1471.51 436.49%2c 1488 540z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1165'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    background-position: center bottom;
    color: $primary-text-color;
    font-size: 2rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 200;
    line-height: 1.167;
    letter-spacing: 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    mix-blend-mode: screen;
    position: relative;
    transition: .5s;
}

.landing-container {
    background: url('/nightsky.webp');
    transition: .5s;
}

.landing-scene-1-text {
    padding-left: 10%;
    z-index: 2;
    transition: .5s;
    @media only screen and (max-width: $media-sm) {
        padding-left: 2%;
        margin-top: 1rem !important;
    }
}

.landing-scene-1-float {
    float:left;
    top:2rem;
    transition: .5s;
}

.landing-scene-1-text-container {
    display: inline;
    transition: .5s;
}

.landing-content {
    background: white;
}

.landing-scene-4-text , .landing-scene-1-text {
    color: white;
}

